<br/>
<br/>
<br/>


<div class="jumbotron text-center">
    <h1 class="display-4">On-line University</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
        <br/>
        <button class="btn">Explore</button>
    </p>
</div>

<div class="container-2-fluid text-center">
    <h2>Hola Mundo</h2>
</div>
