<br/>
<br/>
<br/>


<div class="jumbotron text-center">
    <h1 class="display-4">On-line University</h1>
    <p class="title-2">The simplest way for learning development</p>
    <hr class="my-4">
    <p class="title-3">Follow our classes and improve your professional skills</p>
    <p class="lead">
        <br/>
        <button class="btn">Explore</button>
    </p>
</div>

<div class="container-2-fluid text-center">
    <h2 class="container-title"><b> Innovacion through digital comunication</b></h2>



</div>
<div class="move-up">
    <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
</div>