h1 {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(57, 55, 55);
    box-shadow: 3px 3px 6px 1px #292929;
    margin-top: 140px;
    font-size: 50px;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 15px;
}

.container-fluid {
    height: 500px;
    width: 862px;
    margin-left: -90px;
    margin-top: 290px;
    margin-bottom: -198px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.p {
    text-align: right;
}

h3 {
    font-size: 50px;
    color: white;
}

.btn-outline-success {
    font-size: 20px;
    width: 20%;
    color: white;
    border-color: white;
    border: solid 2px;
    border-radius: 32px;
    background-color: transparent;
}

.btn-outline-success:hover {
    color: white;
    background: red;
}

.hero-image {
    background-image: url('src/assets/Background/arch.jpg');
    background-color: #ff8a8a;
    padding-top: 40px;
    margin-top: -137px;
    height: 600px;
    margin-left: -82px;
    margin-right: -82px;
    margin-bottom: -290px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    margin-top: 90px;
}
