.display-4 {
    font-size: 60px;
    font-weight: bold;
}

button.btn {
    border: none;
    border-radius: 5rem;
    border: 1px solid white;
    padding: 1rem 3rem;
    color: var(--white);
    font-size: 1.6rem;
    background: transparent;
    cursor: pointer;
    font-family: var(--Livvic);
}

button.btn:hover {
    background: red;
}
