h1 {
    color: white;
    box-shadow: 3px 3px 6px 1px #292929;
    font-size: 50px;
    border-radius: 15px;
}

.container-fluid {
    height: 500px;
    width: 862px;
    margin-left: -90px;
    margin-top: 290px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.p {
    text-align: right;
}