<br/>
<br/>
<br/>


<div class="hero-image text-center">
    <h1><b>On-line University</b></h1>
    <div class="hero-text">

        <h3><b>Learn with our knowledge</b></h3>
        <button class="btn btn-outline-success">Courses</button>
    </div>
</div>


<div class="container-fluid bg-dark text-white">
    <div class="row justify-content-center">
        <h2><b>OUR COURSES ARE FOR SKILLED PEOPLE</b></h2>
    </div>
    <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate obcaecati error porro tempora eaque ipsam ab minus est maiores nobis, et, fugiat sunt quos quis ipsum eos itaque sit explicabo! This container has a dark background color and a white
        text, and some extra padding and margins.Lorem</p>




    <div class="owl-container">
        <div class="owl-carousel owl-theme">
            <div class="blog-content">
                <img src="/Login/src/assets/Background/tech.jpg" alt="post-1">
                <div class="blog-title">
                    <h3>Rafting</h3>
                    <button class="btn-blog">Book now</button>
                    <span>Get your experience</span>
                </div>
            </div>
            <div class="blog-content">
                <img src="/Login/src/assets/Background/arch.jpg" alt="post-2">
                <div class="blog-title">
                    <h3>Trekking</h3>
                    <button class="btn-blog">Book now</button>
                    <span>Get your experience</span>
                </div>
            </div>
            <div class="blog-content">
                <img src="/assets/blog/rock-climbing.jpg" alt="post-3">
                <div class="blog-title">
                    <h3>Climbing</h3>
                    <button class="btn-blog">Book now</button>
                    <span>Get your experience</span>
                </div>
            </div>
            <div class="blog-content">
                <img src="/assets/blog/horses.jpg" alt="post-3">
                <div class="blog-title">
                    <h3>Riding</h3>
                    <button class="btn-blog">Book now</button>
                    <span>Get your experience</span>
                </div>
            </div>
            <div class="blog-content">
                <img src="/assets/blog/mountain_png.png" alt="post-3">
                <div class="blog-title">
                    <h3>Camping</h3>
                    <button class="btn-blog">Book now</button>
                    <span>Get your experience</span>
                </div>
            </div>
        </div>
        <div class="owl-navigation">
            <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
            <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
        </div>
    </div>



</div>
<!--end of container-fluid-->
