button {
    color: white;
    background-color: red;
    border: none;
    padding: .5rem 0rem;
}

button:hover {
    color: white;
    background-color: red;
    box-shadow: 3px 3px 6px 1px #292929;
}

.form-control {
    height: 28px;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .2rem;
}

.form-control {
    height: 30px;
}

label {
    margin-right: 230px;
    color: rgb(6, 6, 6);
    font-size: 12px;
}

p {
    margin-top: 5px;
    font-size: 12px;
}

.card {
    width: 90%;
    box-shadow: 3px 3px 6px 1px #292929;
    background-color: rgba(255, 255, 255, 0.5)
}

a {
    color: blue;
    font-weight: bold;
}

hr {
    margin-top: -5px;
    color: white;
}

.wrap {
    padding-top: 10px;
}

.form-group-1 {
    margin-top: -10px;
}

.container-fluid {
    background-image: url('src/assets/Background/start-up.jpg');
    height: 500px;
    width: 862px;
    margin-left: -90px;
    margin-top: -29px;
    margin-bottom: -198px;
    padding-top: 30px;
    padding-bottom: 30px;
}
