<div class="container-footer text-center">

    <div class="row align-items-start">

        <div class="col">
            <h2 class="footer-header">About us</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum error, labore quod sequi aut ea magni quis! Voluptatem inventore accusamus beatae temporibus vero officia impedit delectus fugiat veniam eveniet.</p>
        </div>
        <div class="col">
            <h2 class="footer-header">Our Services</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum error, labore quod sequi aut ea magni quis! Voluptatem inventore accusamus beatae temporibus vero officia impedit delectus fugiat veniam eveniet.</p>
        </div>
        <div class="col">
            <h2 class="footer-header">Follow us</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum error, labore quod sequi aut ea magni quis! Voluptatem inventore accusamus beatae temporibus vero officia impedit delectus fugiat veniam eveniet.</p>
        </div>
    </div>
    <div class="social-footer">
        <a href="#"><i class="fab fa-facebook-f"></i></a>&nbsp;
        <a href="#"><i class="fab fa-twitter"></i></a>&nbsp;
        <a href="#"><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;
        <a href="#"><i class="fab fa-youtube"></i></a>&nbsp;
    </div>

    <div class="rights flex-row">
        <h4 class="copy">
            Copyright ©2021 All rights reserved | made by
            <a href="Alessandro Porcu" target="black">Alessandro Porcu</a>
        </h4>
    </div>

</div>