<div class="container-footer text-center">
    <div class="row align-items-start">
        <div class="col">
            <h2 class="footer-header">About us</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum error, labore quod sequi aut ea magni quis! Voluptatem inventore accusamus beatae temporibus vero officia impedit delectus fugiat veniam eveniet.</p>
        </div>
        <div class="col">
            <h2 class="footer-header">Our Services</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum error, labore quod sequi aut ea magni quis! Voluptatem inventore accusamus beatae temporibus vero officia impedit delectus fugiat veniam eveniet.</p>
        </div>
        <div class="col">
            <h2 class="footer-header">Follow us</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum error, labore quod sequi aut ea magni quis! Voluptatem inventore accusamus beatae temporibus vero officia impedit delectus fugiat veniam eveniet.</p>
        </div>
    </div>